.outcomes-section{clear: both; overflow: hidden; width: 100%;}
.outcomes-main{padding: 80px 0 30px; }

.outcomes-lt h2{font-family: 'Montserrat',sans-serif; font-weight: 400; font-size: 2.625rem; color: #000; letter-spacing: normal;margin-bottom: 26px;}
.outcomes-lt h2 a{color:#000;}
.outcomes-lt h2 a:hover{color: #e87722;}
.outcomes-lt p{font-size: 20px; font-weight: 400; font-family: 'Montserrat',sans-serif; margin-bottom: 28px;}
.outcomes-list{border-bottom: 1px solid #898989; padding: 17px 0 13px; gap: 18px;}
.outcomes-list:last-child{border-bottom: 0;}
.outcomes-list {font-size: 20px; font-weight: 400; font-family: 'Montserrat',sans-serif;}
.outcomes-list img{flex: 0 0 32px; padding-left: 10px;}
.outcomes-list p{flex: 1;}



/* media css starts here */
@media only screen and (min-width: 1024px){
    .outcomes-main{gap: 64px;} 
    .outcomes-lt{width: 46.9%; flex-grow: 1;}
    .outcomes-rt{width: calc(100% - 55.9%);flex-grow: 1;}



}




@media only screen and (max-width: 1023px) and (min-width: 768px){
    .outcomes-main{display: block; padding: 64px 0;}
    .outcomes-lt{margin-bottom: 40px;}
    
}



@media only screen and (max-width: 767px) and (min-width: 200px){
    .outcomes-main{text-align: center; padding: 76px 0 40px;}
    .outcomes-lt h2{font-size: 1.75rem; line-height: 2.125rem;}
    .outcomes-lt p{font-size: 16px; margin-bottom: 30px;}
    .outcomes-list{display: block; border-bottom: 0; padding: 0; margin-bottom: 32px;}
    .outcomes-list img{margin-bottom: 12px;}
    .outcomes-list p{font-size: 14px;}
    .outcomes-main .btn{width: 100%;}
    .outcomes-main .button.lg{padding: 12px 20px; width: 100%;}
    .outcomes-rt{padding: 0 42px; margin: 0 auto;}

}