.hero-banner-main {padding:33px 0 36px 0;}





/*-- media css starts here --*/


@media only screen and (max-width: 767px) and (min-width: 200px) {
	.hero-banner-main {padding:63px 0 36px 0;}
	.hero-banner-main h1 {line-height:1.1; letter-spacing:2px; margin-bottom: 24px;}
	.hero-banner-main p {margin-bottom: 25px;}
	
	
	
	
	
}

