


.location-main{padding: 40px 0 80px; position: relative;}
.location-main h3{margin-bottom: 50px; color: #000; font-size: 32px;letter-spacing: normal; font-weight: 400;}
.location-main h3 a{color: #000;}
.location-main h3 a:hover{color: #e87722;}
.location-row{gap: 20px;}
.location-list{flex: 0 0 calc(33.33% - 14px); position: relative; overflow: hidden;}
/* .location-list{height: 100%; overflow: hidden;} */
/* .location-thumb{min-height: 405px;} */
.location-text-hover{opacity: 0;}
.location-list:hover{position: relative;}
.location-list:hover .location-text-hover{ opacity: 1; top: 0; left: 0; right: 0; background-color:#000; color: #fff; padding: 75px 55px; border-radius: 20px; }
.location-text-hover { left: 0; width: 100%; height: 100%; transition: all 0.5s ease-in-out; position: absolute; z-index: 2; border-radius: 0 0 24px 24px; overflow-y: auto; }
.location-text-hover p{font-size: 16px; padding: 12px; margin-bottom: 0; border-bottom: 1px solid #757575; font-weight: 600;}
.location-text-hover p:last-child{border-bottom: 0;}
.location-main span { position: absolute; right: 16px; bottom: 15px; color: #fff; font-size: 24px; text-transform: capitalize; font-weight: 500; font-family: 'Montserrat',sans-serif;}
.location-info img{border-radius: 20px; min-height: 420px; max-height: 420px;}
.location-info{position: relative;}
.location-info picture:before{position: absolute; content:""; width: 100%; height: 100%; display: block;  background-image: linear-gradient(145deg, rgba(0, 0, 0, 0) 55%, #000 110%); border-radius: 20px;
 } 

.evaluation-text{padding: 40px 110px 40px 234px; width: 58.2%; flex-grow: 1; display: flex; flex-direction: column; justify-content: center; position: relative; top: -4px;}
.evaluation-text h2{font-size: 40px; font-weight: 600;  font-family: 'Montserrat',sans-serif; letter-spacing: normal; text-transform: capitalize;}
.evaluation-text p{font-size: 18px; font-weight: 400;}
.evaluation-thumb { width: 41.8%; }
/* media css starts here */
@media only screen and (min-width: 1024px){
   

    .location-row .slick-slide{ margin-right: 40px;}

}





    @media only screen and (max-width: 1023px) and (min-width: 200px){
        .location-info img{min-height: 318px; max-height: 318px;}
        .location-row .slick-slide{width: 272px; margin-right: 22px;}
        .location-row.flex.slick-initialized.slick-slider{width: calc(100% + 40px); margin-left: 18px;}
        .location-list:hover .location-text-hover{padding: 20px;}
        .location-main span{position: inherit; right: 0; bottom: 0; color: #000; font-size: 16px; margin-top: 16px; display: block;} 
    }

@media only screen and (max-width: 767px) and (min-width: 200px){
   

    .location-list{flex: 272px;}
    .location-main{padding: 34px 0 80px;}
    .location-main h3{text-align: center; margin-bottom: 42px;}
}



